<h1>Welcome Admin</h1>
<%= link_to "Create User", new_admin_user_path %>

<div id="students">
  <ul>
    <% @users.each do |user| %>
      <li><%= user.username %>  <%= link_to "Edit", edit_admin_user_path(user) %>  <%= link_to "Delete", admin_user_path(user), method: :delete %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Create Activity", new_admin_activity_path %>
<div id="activities">
  <ul>
    <% @activities.each do |activity| %>
      <li><%= "#{activity.title} - #{activity.points} points" %>  <%= link_to 'Edit', edit_admin_activity_path(activity)%></li>
    <% end %>
  </ul>
</div>
